h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 900;
  padding: 3%;

  color: black;
  box-shadow: 0em 0.5em rgb(57, 179, 138);
}

.article {
  margin: 2%;
}

.heart {
  font-size: 2em;
  color: red;
}
